body {
    background-color: #1C1A2D;
    color: #fff;
    font-size: 40px;
}
.content {
    padding-top: 3%;
    padding-left: 3%;
    font-family: "Segoe UI", sans-serif;
}
h1 {
    padding-left: 10px;
    font-family: Impact, sans-serif;
}
strong{
    font-family: Impact, sans-serif;
    letter-spacing: 1px;
}

.bigrolecontainer {
    width: 100%;
    padding-top: 5%;
}

.bigtrapcontainer {
    width: 100%;
    padding-top: 5%;
}

.status {
    padding-top: 5%;
}

.rolle {
    padding-top: 2%;
}

.falle {
    padding-top: 2%;
}